:root {
    --corp-color-blue: #21496b;
    --corp-color-white: #FFF;
    --corp-gradient: linear-gradient(var(--corp-color-white), var(--corp-color-blue));
}

.body {
    background-image: var(--corp-gradient);
    background-size: 100% 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: var(--corp-color-blue);
}

.header, .nav, .article, .aside, .footer {
    background-color: var(--corp-color-white);
    opacity: 80%;
    margin-bottom: 10px;
    text-align: center;
    
}

.header {
    height: 15vh;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0px;
    h1 {
        margin: 20px;
    }
}

.nav {
    height: 5vh;
    padding-top: 55px;
}

.nav a:hover {
    color: rgb(230, 8, 93);  ]
  }

.container-grid {
    display: block ruby;
}

.article {
    height: 28vh;
    padding-top: 35px;
    width: 70%;
    margin: 0px 10px 0px 0px !important;
}

.aside {
    height: 21.6vh;
    padding-top: 80px;
    width: 30%;
}

.aside-header {
    font-size: 25px;
    font-weight: bold;
}

.aside-paragraph { 
    font-style: italic;
}

.article-header {
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
}

.article-paragraph { 
    font-style: italic;
}

.footer {
    height: 20vh;
    padding-top: 25px;
}

.footer button:hover {
    background-color: rgb(230, 8, 93);
    font-weight: bolder;
  }

.footer-title {
    font-size: 12px;
 
}

input[type=email] {
    background-color: var(--corp-color-white);
}